[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/physx"]
	path = thirdparty/physx
	url = git@github.com:NVIDIA-Omniverse/PhysX.git
	ignore = untracked
