[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/physx"]
	path = thirdparty/physx
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
	ignore = untracked
