# Set the default behavior for all files.
* text=auto

# Treat models as binary
*.obj binary
*.mtl binary
*.gltf binary

# Anything in assets/ folder should be considered binary
assets/**/* binary

# Ignore thirdparty files except for cmake files (treat as binary)
thirdparty/**/* binary
thirdparty/CMakeLists.txt text=auto
thirdparty/imgui.cmake text=auto
thirdparty/physx.cmake text=auto